<div id="menu-wrapper">
    <div id="header-wrapper">
        <img id="menu-profile-image" src="{{concat 'base_url' '/templates/assets/profile/' filename '.jpg'}}" />
    </div>

    <div id="content-header">
        {{name}}
    </div>
    <div id="content-wrapper">
        <nav id="menu-sidebar-wrapper">
            <div class="menu-tabs" id="memories-tab">Memories</div>
            <div class="menu-tabs" id="reviews-tab">Reviews</div>
            <div class="menu-tabs" id="plans-tab">Plans</div>
            <div class="menu-tabs" id="photos-tab">Photos</div>
            <div class="menu-tabs" id="points-tab">Points</div>
            <div class="menu-tabs" id="preference-tab">Preference</div>
        </nav>

        <div id="body-wrapper"></div>
    </div>
</div>