body {
    margin: 0;
    position: relative;
}

#map {
    height: 100vh;
    width: 100%;
}

#upper-panel {
    background: #3236374d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    color: #fff;
    opacity: 1;
    z-index: 1;
    width: 100%;
    position: absolute;
}

#profile-wrapper {
    padding: 4px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

#profile-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 45px;
}

#profile-name {
    padding: 5px;
}

#vaykae-title {
    margin: 0;
}

.nav-item {
    padding: 5px 0;
    cursor: pointer;
}

.nav-item:hover {
    background: #35c9f691;
}

#theme-wrapper {
    background: #0000032b;
    margin: 17px 10px;
}

#theme-title {
    background: #ffffff8a;
    color: #090909;
    font-size: 18px;
}

.theme-item {
    cursor: pointer;
}

#menu-button {
    cursor: pointer;
    padding: 20px;
}

.active {
    display: block !important;
}

/*MENU*/
#menu-holder {
    display: none;
    position: absolute;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #fff;
    width: 500px;
}

#menu-wrapper {
    padding: 20px;
}

#header-wrapper {
    text-align: center;
}

#menu-profile-image {
    max-width: 90px;
}

#content-header {
    text-align: center;
    border-bottom: 2px solid #000;
}

#content-wrapper {
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
}

#menu-sidebar-wrapper {
    border-right: 1.5px solid #000;
}

.menu-tabs {
    padding: 3px;
}
/*MENU*/