<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VayKae</title>

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>
</head>
<body>
    <div id="left-panel">
        <div id="title">VayKae</div>

        <nav>
            <div id="profile-button" class="nav-item">Profile</div>
            <div id="hot-spots-button" class="nav-item">Hot Spots</div>
            <div id="friends-button" class="nav-item">Friends</div>
            <div id="settings-button" class="nav-item">Settings</div>
        </nav>

        <nav id="theme-wrapper">
            <div id="theme-title">Themes</div>
            <div id="standard" class="theme-item">Standard</div>
            <div id="silver" class="theme-item">Silver</div>
            <div id="retro" class="theme-item">Retro</div>
            <div id="dark" class="theme-item">Dark</div>
            <div id="aubergine" class="theme-item">Aubergine</div>
        </nav>
    </div>
    <div id="map"></div>
</body>
</html>