{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VayKae</title>

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>
</head>
<body>
    <div id="upper-panel">
        <div id="profile-wrapper">
            <img id="profile-image" src="{% static 'assets/profile/profile_pic.jpg' %}" />
            <div id="profile-name">Malcolm Miller</div>
        </div>

        <div id="title-wrapper">
            <h1 id="vaykae-title">VayKae</h1>
        </div>
        <div id="menu-button">
            Menu
        </div>
    </div>

    <div id="map"></div>

    <div id="menu-holder"></div>
</body>
</html>